<!-- Validation failure messages -->
<% if @donation.errors.any? %>
<% @donation.errors.full_messages.each do |message| %>
<div class="alert alert-dismissable alert-danger">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <%= message %>
</div>
<% end %>
<% end %>

<div class="page-header">
  <h1>Edit <%=@donation.user.user_name%>'s Donation</h1>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_donation/<%= @donation.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_id -->
      <div class="form-group">
        <!-- <label for="user_id" class="control-label">
        User
      </label>-->

      <input type="hidden" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= @donation.user_id %>">
    </div>

    <!-- Label and input for charity name -->
    <div class="form-group">
      <label for="amount" class="control-label">
        Charity
      </label>

      <select id="charity_name" name="charity_name" class="form-control" value="<%=@donation.charity.name%>">
        <% Charity.all.each do |charity| %>
        <% if charity.id == @donation.charity_id %>
        <option selected="selected"> <%=charity.name%> </option>
        <%else%>
        <option> <%=charity.name%> </option>
        <%end%>
        <%end%>
      </select>
    </div>


    <!-- Label and input for amount -->
    <div class="form-group">
      <label for="amount" class="control-label">
        Amount
      </label>

      <input type="text" id="amount" name="amount" placeholder="Amount" class="form-control" value="<%= @donation.amount %>">
    </div>

    <!-- Label and input for frequency -->
    <div class="form-group">
      <label for="frequency" class="control-label">
        Frequency
      </label>

      <select id="frequency" name="frequency" placeholder="<%=@donation.frequency%>" class="form-control" value="<%= @donation.frequency %>">
        <%if @donation.frequency == "Once"%>
        <option selected="selected"> Once </option>
        <%else%>
        <option> Once </option>
        <%end%>
        <%if @donation.frequency == "Daily"%>
        <option selected="selected"> Daily </option>
        <%else%>
        <option> Daily </option>
        <%end%>
        <%if @donation.frequency == "Weekly"%>
        <option selected="selected"> Weekly </option>
        <%else%>
        <option> Weekly </option>
        <%end%>
        <%if @donation.frequency == "Monthly"%>
        <option selected="selected"> Monthly </option>
        <%else%>
        <option> Monthly </option>
        <%end%>
      </select>
    </div>

    <button class="btn btn-warning">
      Update Donation
    </button>
    or
    <a href="/donations/<%= @donation.id %>">Cancel</a>
  </form>
</div>
</div>
