<!DOCTYPE html>
<html>
<head>

  <script type="text/javascript">
  var my_email= "my@email.com"
  $(document).ready(function()
  {
    $("#test").val(my_email);
  });
  </script>

  <script>
  function Donate()
  {
    var w = window.open("http://thelunchboxfund.org/donate/");

    gon.first_name = "Steve"

    w.document.getElementByid("gift_amount_simpleField").value = gon.first_name

    // userFirstName.value = <%=User.where(:email => $email).pluck("first_name").join(',')%>;
    //

    // target.close();
  }
  </script>

  <style>
  body{background-image: url("https://flavorwire.files.wordpress.com/2016/06/saint-pablo2.png?w=1200");
  background-size: 250px;
  /*background-repeat: no-repeat;*/
}
</style>

</head>
</html>

<div class="page-header">
  <h1>
    CHARITIES
    <% if $user.user_name == "sbomze" then %>
    <a href="/charities/new" class="btn btn-lg btn-success">New Charity</a>
    <%end%>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Charity</th>
        <th>Mission</th>
        <th>Rating</th>
        <th>Actions</th>
      </tr>

      <% @charities.each do |charity| %>
      <tr>
        <td><img src = "<%= charity.image_url %>" height = "150" width = "300"></td>
        <td><%= charity.mission %></td>
        <td><%= charity.rating %></td>
        <td>
          <a href="/charities/<%=charity.id%>/donate" class="btn btn-primary btn-success"> DONATE</a>

          <% if $user.user_name == "sbomze" then %>
            <a href="/charities/<%= charity.id %>" class="btn btn-primary">Show</a>
            <a href="/charities/<%= charity.id %>/edit" class="btn btn-warning">Edit</a>
            <a href="/delete_charity/<%= charity.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
          <%end%>
          
          <a class="btn btn-primary btn-success" onclick="Donate()"> DONATE</a>


          <!-- <%= link_to "DONATE", "https://action.aclu.org/secure/donate-to-aclu", :target => '_blank' %>
        -->

      </td>
    </tr>
    <% end %>
  </table>
</div>
</div>
