<!-- Validation failure messages -->
<% if @charity.errors.any? %>
<% @charity.errors.full_messages.each do |message| %>
<div class="alert alert-dismissable alert-danger">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <%= message %>
</div>
<% end %>
<% end %>

<style>
body{background-image: url("http://68.media.tumblr.com/9d43a4b2845aea245c97f0ce23868954/tumblr_o4y5f2lS9C1re5stco1_r1_1280.png");
background-size: 250px;
/*background-repeat: no-repeat;*/
}
</style>

<div class="page-header">
  <h3>Add Charity</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_charity" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for image_url -->
      <div class="form-group">
        <label for="image_url" class="control-label">
          Image url
        </label>

        <input type="text" id="image_url" name="image_url" placeholder="Image url" class="form-control" value="<%= @charity.image_url %>">
      </div>

      <!-- Label and input for name -->
      <div class="form-group">
        <label for="name" class="control-label">
          Name
        </label>

        <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="<%= @charity.name %>">
      </div>

      <!-- Label and input for mission -->
      <div class="form-group">
        <label for="mission" class="control-label">
          Mission
        </label>

        <input type="text" id="mission" name="mission" placeholder="Mission" class="form-control" value="<%= @charity.mission %>">
      </div>

      <!-- Label and input for rating -->
      <div class="form-group">
        <label for="rating" class="control-label">
          Rating
        </label>

        <input type="text" id="rating" name="rating" placeholder="Rating" class="form-control" value="<%= @charity.rating %>">
      </div>

      <button class="btn btn-success">
        Create Charity
      </button>
      or
      <a href="/charities">Cancel</a>
    </form>
  </div>
</div>
