
<div class="page-header">
  <h1><%= @charity.name %></h1>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Image url</dt>
      <dd><%= @charity.image_url %></dd>

      <dt>Name</dt>
      <dd><%= @charity.name %></dd>

      <dt>Mission</dt>
      <dd><%= @charity.mission %></dd>

      <dt>Rating</dt>
      <dd><%= @charity.rating %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/charities" class="btn btn-primary">
        Back
      </a>
      <a href="/charities/<%= @charity.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_charity/<%= @charity.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
