<!-- Validation failure messages -->
<% if @charity.errors.any? %>
  <% @charity.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Charity #<%= @charity.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_charity/<%= @charity.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for image_url -->
      <div class="form-group">
        <label for="image_url" class="control-label">
          Image url
        </label>

        <input type="text" id="image_url" name="image_url" placeholder="Image url" class="form-control" value="<%= @charity.image_url %>">
      </div>

      <!-- Label and input for name -->
      <div class="form-group">
        <label for="name" class="control-label">
          Name
        </label>

        <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="<%= @charity.name %>">
      </div>

      <!-- Label and input for mission -->
      <div class="form-group">
        <label for="mission" class="control-label">
          Mission
        </label>

        <input type="text" id="mission" name="mission" placeholder="Mission" class="form-control" value="<%= @charity.mission %>">
      </div>

      <!-- Label and input for rating -->
      <div class="form-group">
        <label for="rating" class="control-label">
          Rating
        </label>

        <input type="text" id="rating" name="rating" placeholder="Rating" class="form-control" value="<%= @charity.rating %>">
      </div>

      <button class="btn btn-warning">
        Update Charity
      </button>
      or
      <a href="/charities/<%= @charity.id %>">Cancel</a>
    </form>
  </div>
</div>
